.header{
    background-color: #e40046;
}

.bandori-header{
    color: white;
    align-content: center;
    font-weight: bold;
    text-align: center;
    margin: 0px;
}

.bandori-title{
    font-family: 'Verdana, Geneva, sans-serif';
    font-size: 3rem;
}

.bandori-subs{
    font-family: 'Verdana, Geneva, sans-serif';
    font-size: 1.5rem;
}